/* Color Scheme
Dark Blue #0A557D
Medium Blue #02D6E8D
Light Blue #8FADBD
Extra Light Blue #D9E8ED
Smoke Black #1F252A

*/

body {
  padding-bottom: 40px;
  background: url("../img/bg1.jpg") repeat;
  color:#222;
}

#ice {
  background: url("../img/ice-bg.png") top center no-repeat;
  position: absolute;
  height: 748px;
  width: 100%;
  display: block;
  z-index: -999;
}

h1, h2, h3, h4, h5 {
  font-family: 'Fjalla One', sans-serif;
  color: #1F252A;
  margin:0.5em 0 1em 0;
}

h1 {margin-bottom:0.8em;}
h2 {font-size:1.6em;}
h3 {font-size:1.4em;}

p + h2 {margin-top:1em;}
p + h1 {margin-top:1em;}

/*
h1.logo a {
  display: block;
  width: 100%;
  background: url("../img/deep_text.png") no-repeat top center;
  height: 456px;
  text-indent: -10000px;
  z-index: -1;
  position: absolute;
  top: 0;
}
h1.logo {
  margin: 0;
}
*/

#menu {
  background: #000;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 0 10px #000;
  z-index: 999;
  position:absolute;
  top:0;
  left:0;
}
#menu ul {
  margin-bottom: 0;
}
#menu .nav > li > a:hover, #menu .nav > li > a:focus {
background-color: none !important;
}
#menu .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
    padding: 0 10px;
}
#menu .nav > li a {
    color: #999;
    display: block;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px #fff;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#menu .nav > li a:hover,
#menu li.active a {
    color: #fff;
    text-shadow: 0px 0px 0px #fff;
    padding-left: 10px;
}
#menu .nav {
    text-align:center;
}

.container-narrow {
  margin: 0 auto;
  max-width: 900px;
}


/* Content */

#content {
  z-index: 10;
  clear:both;
  position: relative;
  padding:30px 0;
  z-index: 100;
}
.inner-content {
  background: rgba(256, 256, 256, 0.9);
  border-radius: 0 0 6px 6px;
  box-shadow: 0 0 30px #111;
}

.inner-content img {
  border:1px solid #ccc;
  -webkit-box-shadow:2px 2px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:2px 2px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow:2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.noborder {
  border:none !important;
  -webkit-box-shadow:none !important;
  -moz-box-shadow:none !important;
  box-shadow:none !important;
}

img.right {float:right; margin:0 0 40px 20px; max-width:50%; max-height:500px; width:auto; height:auto;}
img.left {float:left; margin:0 40px 20px 0; max-width:50%; max-height:500px; width:auto; height:auto;}
img.full-width {
  clear:both;
  width:100%;
  max-height:300px;
  height:auto;
  margin:0 0 20px 0; 
}

.photo-credit {font-size:0.9em; color:#555; font-style:italic; margin-top:-10px;}


/*  marketing content */
.marketing {
  margin: 0;
  padding:25px;
}


#footer {
  clear:both;
  height:30px;
  padding: 20px 20px 0 20px;
  text-align:center;
}

#footer-inner {
  margin:0 auto;
  padding:20px;
  border-top:1px solid #ddd;
}

#footer p {margin:0;}


@media (max-width: 767px) {
  #ice {left:-20px; width:120%;}
}

.error {color:#AD0002;}
.message {color:#F79400;}

/* lightbox fix for lightbox2/bootstrap problem */
.lb-image{max-width: inherit;}