#home-sequence-wrapper {
	clear:both;
	width:100%;
	height:1900px;
	overflow:hidden;
	position: relative;
	text-align:center;
	padding:0 0 30px 0;
}

#home-sequence {
	position:absolute;
	top:-400px;
	left:0;
	text-align:center;
	width:100%;
}

.home-sequence-item {
	position:relative;
	clear:both;
	margin:0 auto;
	width:900px;
}

#home-logo {
	text-align:center;
	height:456px;
	width:900px;
	z-index:1;
}

#home-logo img {
	position: absolute;
	left:0;
	top:0;
}
#home-logo-1 {z-index:1;}
#home-logo-2 {z-index:2;}

#home-title {
	text-align: center;
	margin-top:-50px;
	z-index:2;
}
#home-title h2, #home-title h3, #home-title small {
  line-height: 1;
  text-shadow: 1px 1px 1px #ccc, -1px -1px 1px #fff;
  text-transform: uppercase;
}

#home-title small {
  font-size: 22px;
  margin-bottom: 29px;
  font-weight: bold;
}
#home-title #blackbox {
  height: 6px;
  width: 25px;
  background-color: #000;
  margin: 15px auto;
}
#home-title .btn {
  font-size: 21px;
  padding: 14px 24px;
}

#home-slider {
	height:400px;
	z-index:2;
}

#home-slider-inner {
	width:900px;
	height:400px;
	background-color:#000;
	z-index: 101;
	box-shadow: 0 0 30px #111;
}

#home-content {
	clear:both;
	width:100%;
	text-align:center;
}

#home-loader {
	position:absolute;
	top:60px;
	left:0;
	z-index: 200;
	width:100%;
	text-align:center;
}

#home-loader-inner {
	margin:0 auto;
	padding:5px;
	background: rgba(256, 256, 256, 0.7);
	width:100px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 0 30px #111;
}

#home-loader-inner p {margin:0;}

.preorder { padding-top: 30px; text-align: center;}

.preorder a.preorder-button {
    color: white;
    background-color: black;
    border-radius: 10px;
	line-height: 40px;
    padding: 15px 20px;
}

.preorder a.preorder-button:hover {
    background-color: #222;
    text-decoration: none;
    cursor: pointer;
}


#kickstarter{
	text-align: center;
	background-color: white;
	border-style:solid;
  border-width:1px;
  border-color:white;
  padding-bottom:50px;
  
   -webkit-box-shadow: 0px 6px 31px 4px black; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
          box-shadow: 0px 6px 31px 4px black; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */

}

.other-sellers{
	width: 900px;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
	background-color: white;
		border-style:solid;
  border-width:1px;
  	padding-top:30px;
  	height:370px;
	text-align: center;
  padding-bottom:50px;
 
   -webkit-box-shadow: 0px 6px 31px 4px black; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
          box-shadow: 0px 6px 31px 4px black; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */

}
		
}
.other-sellers h3{
	text-decoration: underline;
}

#kickstarter h2{
	font-size: 30px;
	padding-top:30px;
}

.seller-box{
	width:240px;
	display:inline;
	float:left;
	margin:0px auto;
	margin-left:29px;
	text-align:center;
}

.seller-box ul li{
	list-style-type: none;
	text-align: center;
	text-indent:-29px;
	line-height: 1.3em;
	
}

.seller-box.from-us img{
	height: 100px;
	padding: 5px 5px;
}

#html {
	height: 120px;
}


#barnes {
	padding-top: 20px;
	padding-bottom: 10px;
}

#itunes {
	padding-top: 40px;
	height: 60px;
}

#amazon {
	padding-bottom: 10px;
}

.seller-box ul{
	padding-top: 20px;
	list-style-type:none;
	text-align:center;
	text-indent:0px;

}

.seller-box.from-us{
	width:310px;
}

#book-types{
	font-size: 18px;
	color: #616161;
	padding-top: 20px;
}

#buy-all{
	font-size: 18px;
	font-weight: 700;
}

#buy-all > a{
	font-size: 14px;
	font-weight: 400;
}

#subheading {
    display: inline-block;
    width: 300px;
    margin-left: 120px;
    margin-right: 120px;
    vertical-align: middle;
}

#home-upper-title {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
	clear:both;
    display: table;
    z-index: 2;
}

.quote {
    display: inline-block;
    width: 200px;
    background-color: #fff;
    background-color: rgba(255,255,255,0.6);
    padding: 20px 20px 20px 20px;
    border-radius: 25px;
    font-family: sans-serif;
    font-weight: 500;
    height: 180px;
    display: table-cell;
    vertical-align: middle;
}

#book-img {
    padding-top: 20px;
    height: 250px;
}

#vimeo {
    padding-top:50px;
}

#bold {
    font-weight: 900;
}

#embed {
    margin-top: 70px;
}