<!DOCTYPE html>
<html lang="en" ng-app="Deep">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <meta name="description" content="Porter Fox's new book about the 8,000-year-old sport of skiing, the miracle of snow and how climate change could wipe out both in the next 75 years.">
    <meta name="keywords" content="Porter Fox,climate change,Tunnel Creek,Stevens Pass,melting ice,glacier,sea ice,Alps,Rockies,Chamonix,Powder magazine,powder skiing,Bill McKibbon,Jeremy Jones,Auden Schendler,protect our winters,mitigation,CO2,greenhouse gas,Daniel Scott,Robert Steiger,avalanche">
    
    <!-- bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    
    <!-- lightbox -->
    <link href="js/lightbox/css/lightbox.css" rel="stylesheet" />

    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    
    <!-- local -->
    <link rel="stylesheet" href="css/custom.css">
    <link rel='stylesheet' href='css/home.css'> 
    <title>Deep - The Story of Skiing and the Future of Snow</title>
</head>
<body>
<div id="ice"></div>
<div id="menu">
    <ul class="nav">
        <li class='active'><a href="index.html">Home</a></li>
        <li><a href="about.html">The Book</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="/blog">Blog</a></li>
    </ul>
</div>

<!--
<div class="masthead">
    <h1 class="logo"><a href="#">Deep - The Story of Skiing and the Future of Snow</a></h1>
</div>
-->

<div id="content" class="container">

<div id="home-sequence-wrapper">

    <div id="home-sequence">

        <div id="home-slider" class="home-sequence-item">
            <div id="home-slider-inner">
            </div>
            <div class="clearfix"></div>
        </div>

        <div id="home-logo" class="home-sequence-item">
            <img src="img/deep_no_text.png" id="home-logo-1" width="900" height="456" style="display:none;" alt="">
            <img src="img/deep_text.png" id="home-logo-2" width="900" height="456" style="display:none;" alt="">
        </div>

        <div id="home-title" class="home-sequence-item">
            <div id="home-title-inner" style="display:none;">
                <h2>The Story of Skiing</h2>
                <small>and</small>
                <h2>The Future of Snow</h2>
                <div class="blackbox"></div>
                <h3>Porter Fox</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div id="home-posts" ng-controller="PostsController" ng-cloak style="margin-top: 50px;">
            <div class="pagination" ng-show="numberOfPages() > 1">
                <button class="prev" href ng-disabled="currentPage == 0" ng-click="currentPage=currentPage - 1">Previous</button>
                <span class="page">{{ currentPage + 1 }} / {{ numberOfPages() }}</span>
                <button class="next" ng-disabled="currentPage >= posts.length / pageSize - 1" ng-click="currentPage=currentPage + 1">Next</button>
            </div>
            <ul>
                <li ng-repeat="post in posts|startFrom:currentPage * pageSize|limitTo:pageSize" style="font-weight: bold; font-size: 24px; list-style-type: none;">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                    {{ post.content }}
                </li>
            </ul>
        </div>
    </div>

</div>

    <div id="footer">
        <div id="footer-inner">
            <p>&copy; Deep the book 2013</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div> <!-- #content -->


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/lightbox/js/lightbox-2.6.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/custom.js"></script>
<script src='js/home.js'></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43152714-1', 'deepthebook.com');
    ga('send', 'pageview');
</script>

</body>
</html>
